#main {
    max-width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    /*justify-content: center;
    align-content: center;*/

    font-family: var(--main_font, "work_sans");
    line-height: 1.5;
    letter-spacing: 1px;

    padding-bottom: 60px;
}

#main a {
    color: var(--color_beautiful, #ebd9b1);
    border-bottom: 1px solid var(--color_beautiful, #ebd9b1);
    transition: var(--transition_middle);
}

#main a:hover {
    color: var(--color_accent, #38b0e3);
    border-bottom: 1px solid var(--color_accent, #38b0e3);
}



.description__title,
.description__link,
.links_testing__title,
.links_testing__link,
.description_more__title,
.description_more__text {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}



#description_wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}



#wrapper_header {
    padding-bottom: 40px;
}



#links_testing .links_testing__title,
#links_testing .links_testing__link {
    display: inline-block;
}

#links_testing .links_testing__title {
    font-weight: bold;
}



#description_more .description_more__title {
    font-weight: bold;
}

#description_more .description_more__text {
    color: var(--color_grey, #ababab);
}



#links_sources {
    padding-top: 40px;
}


#links_sources .source_code {
    margin-left: 30px;
}



#image_wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 60px;
    height: 80vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 2%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}





/*#main {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 10rem;
    grid-gap: 40px;
    justify-content: center;
    align-content: center;

    font-family: var(--main_font, "work_sans");
    line-height: 1.5;
    letter-spacing: 1px;

    padding-bottom: 30px;
}

#main a {
    color: var(--color_beautiful, #ebd9b1);
    border-bottom: 1px solid var(--color_beautiful, #ebd9b1);
    transition: var(--transition_middle);
}

#main a:hover {
    color: var(--color_accent, #38b0e3);
    border-bottom: 1px solid var(--color_accent, #38b0e3);
}



.description__title,
.description__link,
.links_testing__title,
.links_testing__link,
.description_more__title,
.description_more__text {
    user-select: text;
}



#description_wrapper,
#image_wrapper {
    display: inline-grid;
}


#description_wrapper {
    user-select: none;
    grid-column: 2 / 3;
}


#links_testing .links_testing__title,
#links_testing .links_testing__link {
    display: inline-block;
}

#links_testing .links_testing__title {
    font-weight: bold;
}



#description_more .description_more__title {
    font-weight: bold;
}

#description_more .description_more__text {
    color: var(--color_grey, #ababab);
}



#links_sources .source_code {
    margin-left: 30px;
}



#image_wrapper {
    grid-column: 3 / 4;
    height: 60vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 2%;
    user-select: none;
}*/
/*# sourceMappingURL=_main.css.map */
